/vendor
/build/_output
/build/_test
/build/_tools

# local folder to save the binaries being released
build-releases/

# the output of `go build`
/noobaa-operator

# visual studio code intellisense configuration
.vscode/

# NooBaa config file
noobaa.cfg.yaml

*.IGNORE
.idea/