apiVersion: v1
kind: Pod
metadata:
  labels:
    app: noobaa
  name: noobaa-agent
spec:
  containers:
    - name: noobaa-agent
      image: NOOBAA_CORE_IMAGE
      imagePullPolicy: IfNotPresent
      resources:
        # https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/
        requests:
          cpu: "999m"
          memory: "1Gi"
        limits:
          cpu: "999m"
          memory: "1Gi"
      env:
        # Insert the relevant config for the current agent
        - name: CONTAINER_PLATFORM
          value: KUBERNETES
        - name: AGENT_CONFIG
      command: ["/noobaa_init_files/noobaa_init.sh", "agent"]
      # Insert the relevant image for the agent
      ports:
        # This should change according to the allocation from the NooBaa server
        - containerPort: 60101
      volumeMounts:
        - name: noobaastorage
          mountPath: /noobaa_storage
        - name: tmp-logs-vol
          mountPath: /usr/local/noobaa/logs
      securityContext:
        runAsNonRoot: true
        allowPrivilegeEscalation: false
  automountServiceAccountToken: false
  securityContext:
    runAsUser: 10001
    runAsGroup: 0
    fsGroup: 0
    fsGroupChangePolicy: "OnRootMismatch"
  volumes:
    - name: tmp-logs-vol
      emptyDir: {}
    - name: noobaastorage
      persistentVolumeClaim:
        claimName: noobaa-pv-claim
