apiVersion: v1
kind: Service
metadata:
  name: noobaa-db
  labels:
    app: noobaa
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: "noobaa-db-serving-cert"
    service.alpha.openshift.io/serving-cert-secret-name: "noobaa-db-serving-cert"
spec:
  clusterIP: None # headless service
  selector:
    noobaa-db: SYSNAME
  ports:
    - port: 5432
      targetPort: 5432
      name: postgres
