apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: noobaa-db-pg
  labels:
    app: noobaa
spec:
  replicas: 1
  selector:
    matchLabels:
      noobaa-db: noobaa
  serviceName: noobaa-db-pg
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: noobaa
        noobaa-db: postgres
    spec:
      serviceAccountName: noobaa-db
      containers:
        #--------------------#
        # Postgres CONTAINER #
        #--------------------#
        - name: db
          image: NOOBAA_DB_IMAGE
          terminationMessagePolicy: FallbackToLogsOnError
          env:
            - name: POSTGRESQL_DATABASE
              value: nbcore
            - name: LC_COLLATE
              value: C
            - name: POSTGRESQL_USER
              valueFrom:
                secretKeyRef:
                  key: user
                  name: noobaa-db
            - name: POSTGRESQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: password
                  name: noobaa-db
          imagePullPolicy: "IfNotPresent"
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
          ports:
            - containerPort: 5432
          resources:
            requests:
              cpu: "500m"
              memory: "4Gi"
            limits:
              cpu: "500m"
              memory: "4Gi"
          volumeMounts:
            - name: db
              mountPath: /var/lib/pgsql
            - name: noobaa-postgres-config-volume
              mountPath: /opt/app-root/src/postgresql-cfg
      volumes:
        - name: noobaa-postgres-config-volume
          configMap:
            name: noobaa-postgres-config
      securityContext:
        runAsUser: 10001
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: "OnRootMismatch"
  volumeClaimTemplates:
    - metadata:
        name: db
        labels:
          app: noobaa
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 50Gi
