apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: noobaa-db-pg
  labels:
    app: noobaa
spec:
  replicas: 1
  selector:
    matchLabels:
      noobaa-db: noobaa
  serviceName: noobaa-db-pg
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: noobaa
        noobaa-db: postgres
    spec:
      serviceAccountName: noobaa-db
      initContainers:
      #-----------------#
      # INIT CONTAINERS #
      #-----------------#
      - name: init
        image: NOOBAA_CORE_IMAGE
        command:
        - /noobaa_init_files/noobaa_init.sh
        - init_postgres
        resources:
          requests:
            cpu: "500m"
            memory: "500Mi"
          limits:
            cpu: "500m"
            memory: "500Mi"
        volumeMounts:
        - name: db
          mountPath: /var/lib/pgsql
      - name: initialize-database
        image: NOOBAA_DB_IMAGE
        env:
          - name: POSTGRESQL_DATABASE
            value: nbcore
          - name: LC_COLLATE
            value: C
          - name: POSTGRESQL_USER
            valueFrom:
              secretKeyRef:
                key: user
                name: noobaa-db
          - name: POSTGRESQL_PASSWORD
            valueFrom:
              secretKeyRef:
                key: password
                name: noobaa-db
        command:
        - sh
        - -x
        - /init/initdb.sh
        securityContext:
          runAsUser: 0
          runAsGroup: 0
        resources:
          requests:
            cpu: "500m"
            memory: "500Mi"
          limits:
            cpu: "500m"
            memory: "500Mi"
        volumeMounts:
        - name: db
          mountPath: /var/lib/pgsql
        - name: noobaa-postgres-initdb-sh-volume
          mountPath: /init
      containers:
      #--------------------#
      # Postgres CONTAINER #
      #--------------------#
      - name: db
        image: NOOBAA_DB_IMAGE
        env:
          - name: POSTGRESQL_DATABASE
            value: nbcore
          - name: LC_COLLATE
            value: C
          - name: POSTGRESQL_USER
            valueFrom:
              secretKeyRef:
                key: user
                name: noobaa-db
          - name: POSTGRESQL_PASSWORD
            valueFrom:
              secretKeyRef:
                key: password
                name: noobaa-db
        imagePullPolicy: "IfNotPresent"
        ports:
          - containerPort: 5432
        resources:
          requests:
            cpu: "500m"
            memory: "4Gi"
          limits:
            cpu: "500m"
            memory: "4Gi"
        volumeMounts:
          - name: db
            mountPath: /var/lib/pgsql
          - name: noobaa-postgres-config-volume
            mountPath: /opt/app-root/src/postgresql-cfg
          - name: noobaa-postgres-initdb-sh-volume
            mountPath: /init
      volumes:
      - name: noobaa-postgres-config-volume
        configMap:
          name: noobaa-postgres-config
      - name: noobaa-postgres-initdb-sh-volume
        configMap:
          name: noobaa-postgres-initdb-sh
      securityContext: 
        runAsUser: 10001
        runAsGroup: 0
  volumeClaimTemplates:
    - metadata:
        name: db
        labels:
          app: noobaa
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 50Gi
