name: Run Operator OLM Tests

#TODO: this test is disabled as it is failing
#      it should be enabled when the issue is fixed
#on: [push, pull_request, workflow_dispatch]
on: [workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-operator-olm-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 90

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: Run OLM Tests
        run: make test-olm
